body{
  background-color: white;
}

h1{
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

p{
  font-size: 19px;
  text-align: justify;
  padding: 70px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.dibujo{
  text-align: center;
}

img{
  max-width: 100%;
  max-height: 100%;
  width: 50%;
  text-align: center;
}

h2{
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-top: 15px;
}
